@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
  background: #ffffff;
  color: #111827;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #8b6914;
  border-radius: 999px;
}